
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="center-block">
    <button id="btnGenerateWord">Generate Word</button>
</div>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/Word.js"></script>
